<style>
  .form-control {
    font-family: 'ubuntu', sans-serif;
  }

  .form-label{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  h1{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  .submit-font{
   font-family: 'ubuntu', sans-serif; 
   font-weight: bold; 
   padding-bottom: 50px;
   margin-bottom: 60px;
  }

    .custom-button{
    font-size: 16px; 
    font-weight: bold; 
    color: white;
    font-family: 'ubuntu', sans-serif;
  }
</style>
<div class="container my-4">
<%= form_with(model: participant, class: "my-4") do |form| %>
  <% if participant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>
      <ul>
        <% participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="mt-1">
  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :receipt, 'Numéro de votre réçu de payment', class: "form-label" %>
    <%= form.text_field :receipt, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

    <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country_of_residence, class: "form-label" %>
    <%= form.text_field :country_of_residence, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :proffession, class: "form-label" %>
    <%= form.text_field :proffession, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :investment_idea, class: "form-label" %>
    <%= form.text_area :investment_idea, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :impact_of_idea, class: "form-label" %>
    <%= form.text_field :impact_of_idea, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sector_of_investment, class: "form-label" %>
    <%= form.text_field :sector_of_investment, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :proffessional_experience, class: "form-label" %>
    <%= form.text_field :proffessional_experience, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :summary_of_project, class: "form-label" %>
    <%= form.text_area :summary_of_project, class: "form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :province_of_interest, class: "form-label" %>
  <%= select_tag 'province_of_interest[]', options_for_select([
      {value: "Haut-Katanga", label: "Haut-Katanga"},
      {value: "Kinshasa", label: "Kinshasa"},
      {value: "Kongo Central", label: "Kongo Central"},
      {value: "Kwango", label: "Kwango"},
      {value: "Kwilu", label: "Kwilu"},
      {value: "Mai-Ndombe", label: "Mai-Ndombe"},
      {value: "Kasaï", label: "Kasaï"},
      {value: "Kasaï-Central", label: "Kasaï-Central"},
      {value: "Kasaï-Oriental", label: "Kasaï-Oriental"},
      {value: "Lomami", label: "Lomami"},
      {value: "Sankuru", label: "Sankuru"},
      {value: "Maniema", label: "Maniema"},
      {value: "Sud Kivu", label: "Sud Kivu"},
      {value: "Nord Kivu", label: "Nord Kivu"},
      {value: "Ituri", label: "Ituri"},
      {value: "Haut-Uele", label: "Haut-Uele"},
      {value: "Tshopo", label: "Tshopo"},
      {value: "Bas-Uele", label: "Bas-Uele"},
      {value: "Nord-Ubangi", label: "Nord-Ubangi"},
      {value: "Mongala", label: "Mongala"},
      {value: "Sud-Ubangi", label: "Sud-Ubangi"},
      {value: "Équateur", label: "Équateur"},
      {value: "Tshuapa", label: "Tshuapa"},
      {value: "Tanganyika", label: "Tanganyika"},
      {value: "Haut-Lomami", label: "Haut-Lomami"},
      {value: "Lualaba", label: "Lualaba"},
  
  ].map { |o| [o[:label], o[:value]] }), class: "form-control", multiple: true %>
  </div>




  <div class="mt-3 submit-font ">
    <%= form.submit "Submit", class: "btn btn-secondary float-end" %>
  </div>
<% end %>
</div>
</div>