<style>
  .form-control {
    font-family: 'ubuntu', sans-serif;
  }

  .form-label{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  h1{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  .submit-font{
   font-family: 'ubuntu', sans-serif; 
   font-weight: bold; 
   padding-bottom: 50px;
   margin-bottom: 60px;
  }

    .custom-button{
    font-size: 16px; 
    font-weight: bold; 
    color: white;
    font-family: 'ubuntu', sans-serif;
  }
</style>
<div class="container my-4">
<%= form_with(model: participant, class: "my-4") do |form| %>
  <% if participant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>
      <ul>
        <% participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="mt-1">
  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

    <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country_of_residence, class: "form-label" %>
    <%= form.text_field :country_of_residence, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :proffession, class: "form-label" %>
    <%= form.text_field :proffession, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :investment_idea, class: "form-label" %>
    <%= form.text_area :investment_idea, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :impact_of_idea, class: "form-label" %>
    <%= form.text_field :impact_of_idea, class: "form-control" %>
  </div>


    <div class="mb-3">
      <%= form.label :sector_of_investment, class: "form-label" %>
      <%= form.select :sector_of_investment,
        options_for_select(
          [
            ["Mines", "Mines"],
            ["Energie", "Energie"],
            ["Transport", "Transport"],
            ["Télécommunication", "Télécommunication"],
            ["Tourisme", "Tourisme"],
            ["Santé", "Santé"],
            ["Industrie et transformation locale", "Industrie et transformation locale"],
            ["Numérique", "Numérique"],
            ["Infrastructures", "Infrastructures"],
            ["Assurances", "Assurances"],
            ["Agriculture, Agroalimentaire", "Agriculture, Agroalimentaire"],
            ["Autres", "Autres"]
          ],
          selected: @participant.sector_of_investment || "", # Set the selected value or default to an empty string
          include_blank: "Select Sector of Investment",
          class: "form-control"
        )
      %>
    </div>

  <div class="mb-3">
    <%= form.label :proffessional_experience, class: "form-label" %>
    <%= form.text_field :proffessional_experience, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :summary_of_project, class: "form-label" %>
    <%= form.text_area :summary_of_project, class: "form-control" %>
  </div>

 

  <div class="mb-3">
      <%= form.label :province_of_interest, class: "form-label" %>
      <%= form.select :province_of_interest,
        options_for_select(
          [
            ["Haut-Katanga", "Haut-Katanga"],
            ["Kinshasa", "Kinshasa"],
            ["Kongo Central", "Kongo Central"],
            ["Kwango", "Kwango"],
            ["Kwilu", "Kwilu"],
            ["Mai-Ndombe", "Mai-Ndombe"],
            ["Kasaï", "Kasaï"],
            ["Kasaï-Central", "Kasaï-Central"],
            ["Kasaï-Oriental", "Kasaï-Oriental"],
            ["Lomami", "Lomami"],
            ["Sankuru", "Sankuru"],
            ["Maniema", "Maniema"],
            ["Sud Kivu", "Sud Kivu"],
            ["Nord Kivu", "Nord Kivu"],
            ["Ituri", "Ituri"],
            ["Haut-Uele", "Haut-Uele"],
            ["Tshopo", "Tshopo"],
            ["Bas-Uele", "Bas-Uele"],
            ["Nord-Ubangi", "Nord-Ubangi"],
            ["Mongala", "Mongala"],
            ["Sud-Ubangi", "Sud-Ubangi"],
            ["Équateur", "Équateur"],
            ["Tshuapa", "Tshuapa"],
            ["Tanganyika", "Tanganyika"],
            ["Haut-Lomami", "Haut-Lomami"],
            ["Lualaba", "Lualaba"]
          ],
          selected: @participant.province_of_interest || [], # Set the selected values or default to an empty array
          include_blank: "Select Province of Interest",
          multiple: true,
          class: "form-control selectpicker",
          data: { style: 'btn-secondary' }
        )
      %>
    </div>


  <div class="mt-3 submit-font ">
    <%= form.submit "Submit", class: "btn btn-secondary float-end" %>
  </div>
<% end %>
</div>
</div>