<div id="<%= dom_id participant %>">
  <p>
    <strong>Full name:</strong>
    <%= participant.first_name %>
  </p>

    <p>
    <strong>Full name:</strong>
    <%= participant.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= participant.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= participant.address %>
  </p>

  <p>
    <strong>Proffession:</strong>
    <%= participant.proffession %>
  </p>

  <p>
    <strong>Investment idea:</strong>
    <%= participant.investment_idea %>
  </p>

  <p>
    <strong>Impact of idea:</strong>
    <%= participant.impact_of_idea %>
  </p>

  <p>
    <strong>Sector of investment:</strong>
    <%= participant.sector_of_investment %>
  </p>

  <p>
    <strong>Proffessional experience:</strong>
    <%= participant.proffessional_experience %>
  </p>

  <p>
    <strong>Summary of project:</strong>
    <%= participant.summary_of_project %>
  </p>

  <p>
    <strong>Province of interest:</strong>
    <%= participant.province_of_interest %>
  </p>

</div>
