<style>
    /* Custom CSS for table and table cells */
    .custom-table {
        width: 100%;
    }

    .custom-table th, .custom-table td {
        white-space: nowrap;
    }

    .sponsor-head {
        margin-top: 10px;
        color: #333;
    }

    /* Add responsive styles for smaller screens */
    @media (max-width: 767px) {
        .custom-table th,
        .custom-table td {
            width: auto; /* Allow content to expand */
            text-align: left; /* Align content to the left */
            border-bottom: 1px solid #eee;
            padding: 5px;
            overflow: hidden; /* Add overflow hidden for mobile screens */
            display: block; /* Display table cells as block elements */
        }

        /* Display labels generated from data-label attribute */
        .custom-table td::before {
            content: attr(data-label);
            font-weight: bold;
            display: block;
        }

        /* Add specific style for the address field */
        .custom-table td.address {
            white-space: nowrap;
            text-overflow: ellipsis; /* Add ellipsis for overflowing text */
            overflow: hidden;
        }
        
       
    }
</style>
<div class="container p-0">
    <h1 class="sponsor-head custom-font">User Information</h1>
    <div class="table-responsive overflow-x-hidden">
        <table class="table table-striped table-bordered table-sm mt-4 custom-table">
            <tbody>
                <tr>
                     <td class="custom-font">First name:</td>
                    <td ><%= user.first_name %></td>
                </tr>
                <tr>
                   <td class="custom-font">Last name:</td>
                    <td ><%= user.last_name %></td>
                </tr>
                <tr>
                    <td class="custom-font">Photo:</td>
                    <td ><% if user.photo? %>
                        <%= image_tag user.photo_url, class: "img-thumbnail rounded-circle", style: "max-height: 50px; max-width: 50px;" %>
                    <% end %></td>
                </tr>
                   <tr>
                   <td class="custom-font">Email:</td>
                    <td ><%= user.email %></td>
                </tr>
                <tr>
                  <td class="custom-font address">Address:</td>
                    <td class="address text-wrap"><%= user.address %></td>
                </tr>
                <tr>
                <td class="custom-font">Phone:</td>
                    <td ><%= user.phone %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
