<div id="<%= dom_id sponsor %>">
  <p>
    <strong>First name:</strong>
    <%= sponsor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= sponsor.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= sponsor.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= sponsor.address %>
  </p>

  <p>
    <strong>Country of residence:</strong>
    <%= sponsor.country_of_residence %>
  </p>

  <p>
    <strong>Reason of sponsorship:</strong>
    <%= sponsor.reason_of_sponsorship %>
  </p>

  <p>
    <strong>Type of sponsorship offering:</strong>
    <%= sponsor.type_of_sponsorship_offering %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= sponsor.feedback %>
  </p>

</div>
