
<style>
    /* Custom CSS for table and table cells */
    .custom-table {
        width: 100%; /* Set the width of the table as needed */
    }

    .custom-table th, .custom-table td {
        width: 100px; /* Set the width of the table cells as needed */
        height: 10px; /* Set the height of the table cells as needed */
        overflow: hidden; /* Hide overflowing text */
        white-space: nowrap;
        font-family: 'ubuntu', sans-serif;
    }

    .sponsor-head {
        margin-left: 20px;
        margin-top:4rem;
        color: #333; 
    }


</style>
<div class="container ">
<div class="d-flex flex-column gap-2 ">
  <div  class="d-flex flex-column gap-5 ">
   <div >
    <h1 class="sponsor-head position-absolute top-0" >Sponsors</h1>
   </div>
   <div class="d-flex justify-content-end ">
    <%= link_to new_sponsor_path, class: "btn btn-secondary custom-button" do %>
       <i class="fa-solid fa-user-plus" style="font-size: 1.5rem; color: white;"></i> 
    <% end %>
  </div>

  </div>
    <div id="sponsors">
      <div class="container p-0">
        <div id="<%= @sponsors %>">
           <div class="table-responsive">
              <div style="overflow-x: auto;">
                 <table class="table table-striped table-bordered custom-table mt-4">
                   <thead class="table-dark">
                      <tr>
                        <th scope="col" class="text-center">ID:</th>
                         <th >First name:</th>
                        <th >Last name:</th>
                        <th >Phone:</th>
                         </tr>
                    </thead>
                    <tbody>
                      <% @sponsors.each_with_index  do |sponsor,index|%>
                         <tr class="contianer" onclick="window.location='<%= sponsor_path(sponsor) %>'" style="cursor: pointer;">
                           <td class="text-center"><%= index+1 %></td>
                           <td class="text-center"><%= sponsor.first_name %></td>
                           <td class="text-center"><%= sponsor.last_name %></td>
                           <td class="text-center"><%= sponsor.phone %> </td>
                         </tr>
                       <%end%>
                     </tbody>
                  </table>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>



