<p style="color: green"><%= notice %></p>
<div class="container d-flex flex-column custom-margin-form">
    <div class="d-flex justify-content-end gap-1">
       <%= link_to "Edit This Sponsor", edit_sponsor_path(@sponsor) ,class: "btn btn-secondary custom-button"%> |
      <%= link_to "Back To Sponsors", sponsors_path ,class: "btn btn-secondary custom-button"%>
    </div>
    <div>
       <%= render @sponsor %>
    </div>
    <div>
      <%= button_to "Destroy This Sponsor", @sponsor, method: :delete ,class: "btn btn-danger custom-button mt-2 float-end"%>
    </div>

</div>

