<style>
    /* Custom CSS for table and table cells */
    .custom-table {
        width: 100%;
    }

    .custom-table th, .custom-table td {
        white-space: nowrap;
    }

    .sponsor-head {
        margin-top: 10px;
        color: #333;
    }

    /* Add responsive styles for smaller screens */
    @media (max-width: 767px) {
        .custom-table th,
        .custom-table td {
            width: auto; /* Allow content to expand */
            text-align: left; /* Align content to the left */
            border-bottom: 1px solid #eee;
            padding: 5px;
            overflow: hidden; /* Add overflow hidden for mobile screens */
            display: block; /* Display table cells as block elements */
        }

        /* Display labels generated from data-label attribute */
        .custom-table td::before {
            content: attr(data-label);
            font-weight: bold;
            display: block;
        }

        /* Add specific style for the address field */
        .custom-table td.address {
            white-space: nowrap;
            text-overflow: ellipsis; /* Add ellipsis for overflowing text */
            overflow: hidden;
        }
        
        
        /* .container {
            padding: 0;
        } */
    }
</style>
<div class="container ">
    <h1 class="sponsor-head custom-font "> Information sur l'ambassadeur</h1>
    <div class="table-responsive overflow-x-hidden">
        <table class="table table-striped table-bordered table-sm mt-4 custom-table">
            <tbody>
                <tr>
                     <td class="custom-font">Prenom:</td>
                    <td ><%= ambassador.first_name  %></td>
                </tr>
                <tr>
                   <td class="custom-font">Nom:</td>
                    <td ><%= ambassador.last_name %></td>
                </tr>
                <tr>
                    <td class="custom-font ">Email:</td>
                    <td class="text-wrap"><%= ambassador.email %></td>
                </tr>
                <tr>
                  <td class="custom-font address">Tel:</td>
                    <td class="address text-wrap"><%= ambassador.phone %></td>
                </tr>
                <tr>
                <td class="custom-fon<%  %>t">Addresse:</td>
                    <td class="address text-wrap"><%= ambassador.address %></td>
                </tr>
                <tr>
                <td class="custom-font">Pays de residence:</td>
                    <td class="address text-wrap"><%= ambassador.citizenship %></td>
                </tr>
                <tr>
                  <td class="custom-font">Presentation:</td>
                  <td class="address text-wrap"><%= ambassador.presentation %></td>
                </tr>
                <tr>
                  <td class="custom-font">Position:</td>
                  <td class="address text-wrap"><%=  ambassador.position  %></td>
                </tr>
                <tr>
                  <td class="custom-font">Commentaire:</td>
                  <td class="address text-wrap"><%= ambassador.comment  %></td>
                </tr>
                <tr>
                  <td class="custom-font">Pourquoi le choix d'ambassadeur:</td>
                  <td class="address text-wrap"><%=  ambassador.reason_of_choice %></td>
                </tr>
                <tr>
                  <td class="custom-font">Territoire choisi:</td>
                  <td class="address text-wrap"><%=  ambassador.territoire %></td>
                </tr>
                <tr>
                  <td class="custom-font">Ambassadeur:</td>
                  <td class="address text-wrap">
                  <% if ambassador.acceptance %>
                   Deja ambassadeur
                  <% else %>
                    Pas encore valider
                  <% end %>
                  </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
