<div id="<%= dom_id ambassador %>">
  <p>
    <strong>First name:</strong>
    <%= ambassador.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= ambassador.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ambassador.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= ambassador.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ambassador.address %>
  </p>

  <p>
    <strong>Citizenship:</strong>
    <%= ambassador.citizenship %>
  </p>

  <p>
    <strong>Presentation:</strong>
    <%= ambassador.presentation %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= ambassador.position %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ambassador.comment %>
  </p>

  <p>
    <strong>Reason of choice:</strong>
    <%= ambassador.reason_of_choice %>
  </p>

  <p>
    <strong>Territoire:</strong>
    <%= ambassador.territoire %>
  </p>

</div>
