<style>

    .custom-table {
        width: 100%; 
    }

    .custom-table th, .custom-table td {
        width: 100px;
        height: 10px; 
        overflow: hidden; 
        white-space: nowrap;
        font-family: 'ubuntu', sans-serif;
    }

    .sponsor-head {
    margin-left: 20px;
    margin-top:4rem;
    color: #333; 
   
  }
 


</style>
<p style="color: green"><%= notice %></p>
<div class="container">
    <div class="d-flex flex-column gap-2 ">
          <div class="d-flex flex-column gap-1 ">
              <div >
                    <h1 class="sponsor-head position-absolute top-0   " >Ambassadors</h1>
              </div>
              <div class="d-flex justify-content-end ">
                  <%= link_to new_ambassador_path, class: "btn btn-secondary custom-button" do %>
                    <i class="fa-solid fa-user-plus" style="font-size: 1.5rem; color: white;"></i> 
                 <% end %>
              </div>
          </div>
      </div>
</div>
<div id="ambassadors">
 <div class="container overflow-x-hidden">
  <div id="<%=  @ambassadors %>">
  <div class="table-responsive ">
    <table class="table table-striped table-bordered custom-table mt-4 table-responsive ">
  <thead class="table-dark">
    <tr>
      
      <th scope="col" class="text-center">ID:</th>
      <th scope="col">Prenom:</th>
      <th scope="col">Nom:</th>
      <th scope="col">Email:</th>
      <th scope="col">Territoire:</th>
  
 
      
    </tr>
  </thead>
  <tbody>
  <% @ambassadors.each_with_index do |ambassador, index| %>
    <tr class="contianer" onclick="window.location='<%= ambassador_path(ambassador) %>'" style="cursor: pointer;">
      
      <td class="text-center "> <%=index + 1%></td>
      <td class="text-center "> <%=ambassador.first_name %></td>
      <td class="text-center "><%=ambassador.last_name %></td>
      <td class="text-center "><%= ambassador.email %></td> 
      <td class="text-center "> <%= ambassador.territoire %></td>
    </td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>
</div>
</div>


</div>


