<div class="container d-flex flex-column mt-3 custom-margin-form">
    <div class="d-flex justify-content-end gap-1">
      <%= link_to "Editer cet ambassadeur", edit_ambassador_path(@ambassador)  ,class: "btn btn-secondary custom-button"%> |
        <%= link_to "Retour a la liste des ambassadeurs", ambassadors_path  ,class: "btn btn-secondary custom-button"%>
    </div>
    <div>
    <%= render @ambassador %>
    </div>
    <div>
     
     
     <% unless @ambassador.acceptance %>
           
          <%= form_tag(accept_application_ambassador_path(@ambassador), method: :post) do %>
            <%= submit_tag 'Accepter comme ambassadeur', class: 'btn btn-success', data: { turbo_confirm: 'Are you sure you want to accept this user?' }  %>
          <% end %>
     <% end %>


      <%= button_to "Suprimer", @ambassador, method: :delete  ,class: "btn btn-danger custom-button mt-4  float-end", data: { turbo_confirm: 'Voulez-vous vraiment supprimer cette personne ?' } %>
    </div>

</div>