<style>
  .form-control {
    font-family: 'ubuntu', sans-serif;
  }

  .form-label{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  h1{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold; 
  }
  .submit-font{
   font-family: 'ubuntu', sans-serif; 
   font-weight: bold; 
   padding-bottom: 50px;
   margin-bottom: 60px;
  }
    .custom-button{
    font-size: 16px; 
    font-weight: bold; 
    color: white;
    font-family: 'ubuntu', sans-serif;
  }
</style>
<div class="container my-4">
<%= form_with(model: province, class: "my-4") do |form| %>
  <% if province.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(province.errors.count, "error") %> prohibited this province from being saved:</h2>
      <ul>
        <% province.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="mt-1">
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :chef_lieu, class: "form-label" %>
    <%= form.text_field :chef_lieu, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :langues, class: "form-label" %>
    <%= form.text_area :langues, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :superficie, class: "form-label" %>
    <%= form.text_field :superficie, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :territoires, class: "form-label" %>
    <%= form.text_area :territoires, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :map, class: "form-label" %>
    <%= form.text_field :map, class: "form-control" %>
  </div>

  <div class="submit-font mt-3">
    <%= form.submit "Submit", class: "btn btn-secondary float-end" %>
  </div>
<% end %>
</div>
</div>