<div id="<%= dom_id province %>">
  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Chef lieu:</strong>
    <%= province.chef_lieu %>
  </p>

  <p>
    <strong>Langues:</strong>
    <%= province.langues %>
  </p>

  <p>
    <strong>Superficie:</strong>
    <%= province.superficie %>
  </p>

  <p>
    <strong>Territoires:</strong>
    <%= province.territoires %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= province.map %>
  </p>

</div>
