<style>
    .custom-table {
        width: 100%;
    }

    .custom-table th, .custom-table td {
        white-space: nowrap;
    }

    .sponsor-head {
        margin-top: 10px;
        color: #333;
    }

    @media (max-width: 767px) {
        .custom-table th,
        .custom-table td {
            width: auto; 
            text-align: left; 
            border-bottom: 1px solid #eee;
            padding: 5px;
            overflow: hidden; 
            display: block; 
        }

        .custom-table td::before {
            content: attr(data-label);
            font-weight: bold;
            display: block;
        }

        .custom-table td.address {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
       
    }
</style>
<div class="container p-0">
    <h1 class="sponsor-head custom-font">Province Information</h1>
    <div class="table-responsive overflow-x-hidden">
        <table class="table table-striped table-bordered table-sm mt-4 custom-table">
            <tbody>
                <tr>
                     <td class="custom-font">Name:</td>
                    <td ><%= province.name  %></td>
                </tr>
                <tr>
                   <td class="custom-font">Chef lieu:</td>
                    <td ><%=  province.chef_lieu %></td>
                </tr>
                <tr>
                    <td class="custom-font ">Langues:</td>
                    <td class="text-wrap"><%= province.langues %></td>
                </tr>
                <tr>
                  <td class="custom-font address">Superficie:</td>
                    <td class="address text-wrap"><%= province.superficie %></td>
                </tr>
                <tr>
                <td class="custom-font">Territoires:</td>
                    <td class="address text-wrap"><%= province.territoires%></td>
                </tr>
                <tr>
                <td class="custom-font">Map:</td>
                <td class="address text-wrap"><%= province.map  %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

