<!DOCTYPE html>
<html>
  <head>
    <title>Rdc145TerritoresAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/89cc5c630d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "trestle/custom" %>

  </head>

  <body>
  <%= render "layouts/sidebar" %>
     <div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     </div>
    <%= yield %>
  </body>
</html>
